body{background-color: #9e9695}

#wraper{with:600px;margin: :auto}
#textUsername{background-color: transparent;border: solid 1px black;}
#left, #righgt:{min-height: 300px}
#left{width: 30%; float:left;background-color: #cca331}
#right{width: 70%;float: right;background-color: #c21594}
#boxTitle{border: solid 1px black; padding: :5px;text-align:center}
#boxContent{border: :solid 1px black;border-top: none;padding: :5px;text-align: center;}
#sayHi{text-align: right;}
#listMessages{height:200px ;background-color: #142040}
#btnSend{text-align: center;}
#btnRegister{text-align: center;background-color: yellow}
#txtMessages{background-color: transparent;border: solid 1px black}
	